@media (max-width: 820px){
    header{
        display:none;
    }
    #sidebar {
        display:none;
    }
    #article {
        width: 100%;
        float: left;
    }
    article h1 {
        color: #3d464d;
        font-size: 24px;
        font-weight: 600;
        margin: 0 0 10px 0;
        text-align: left;
        line-height: 36px;
    }
    .author-panel {
        /*作者栏*/
        height: 25px;
        margin: 10px 0;
    }
}
@media (min-width: 821px) {
    header {
        top: 0;
        left: 0;
        height: 60px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        box-sizing: content-box;
    }

    #sidebar {
        width: 25%;
        float: right;
        border:1px dotted blue;
        margin-top: 83px;
    }
    .sidebar_top_ad {
        border:1px dotted rgb(222,222,222);
        border-radius:4px;

    }
    .sidebar_box {

    }
    #article {
        width: 70%;
        float: left;
    }
    article h1 {
        color: #3d464d;
        font-size: 24px;
        font-weight: 600;
        margin: 20px 0 28px 0;
        text-align: left;
        line-height: 36px;
    }
    .author-panel {
        /*作者栏*/
        height: 25px;
        margin: 20px 0;
    }
}

body {
    margin:0 auto;
    font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}


header menu {
    max-width: 1120px;
    height: 60px;
    margin:auto;
    padding: 0;
}
header menu logo {
    float: left;
    -webkit-transition:-webkit-transform 0.5s;
    -o-transition-property:-o-transform,;
    -o-transition-duration:0.5s;
    -moz-transition-property:-o-transform;
    -moz-transition-duration:0.5s;
    transition-property:transform;
    transition-duration:0.5s;
}
header menu logo:hover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

header menu nav {
    padding-left: 20px;
}
header menu nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}
header menu nav ul li {
    float:left;
    font-size:1.2rem;
    color:rgb(61,70,77);
    text-align:center;
    padding:0 20px;
}
header menu nav ul li a:link,a:visited{
    display:block;
    padding:20px 0px 16px;
    border-style: none;
}
header menu nav ul li a:hover,a:active{
    border-bottom: solid;
}


footer {
    color: #3d464d;
    margin: 40px 0;
    font-size:16px;
    text-align: center;

}

#main {
    margin: 0 auto;
    padding:10px;
    max-width: 1120px;
}



.empty {
    clear:both;
}


article p {
    font-size: 1rem;
    line-height: 1.5rem;
}

.category {
    /*分类名称*/
    border: 1px solid #4285f4;
    border-radius: 6px;
    color: #4285f4;
    padding: 0px 4px;
    float: left;
    font-size:15px;
}
.author {
    float: right;
    height: 25px;
}
.name {
    /*作者名称*/
    color:#4285f4;
    font-size:15px;
}
.time {
    font-size:15px;
    font-color:#999;
}
.content {
    color: #3d464d;
}

.tableOfContents {
    position: float;
    float:right;
    border: 1px dotted #268bd2;
    background: #f7f7f7;
    padding: 10px 20px 10px ;
    border-radius:4px;

}

.entry-relate-links {
    border-top:1px solid rgb(222,222,222);
    border-bottom: 1px solid rgb(222,222,222);
    padding: 10px 0;
}

ul,li {
    padding: 0 0 0 10px ;
}