<div id="main">
    <article>
        <div id="article">
            <h1>{{ .Title }}</h1>
            <div class="author-panel">
                <span class="category">{{ .Params.categories }}</span>
                <div class="author">
                    <span class="name">{{.Params}}</span>
                    <span class="time">• {{ .Date.Format "Mon, Jan 2, 2006" }}</span>
                </div>
                <span class="empty"></span>
            </div>
            <div class="tableOfContents">
                {{ .TableOfContents }}
            </div>
{{ .URL }}
            <div class="content">
                {{ .Content }}
            </div>
            原创文章，如若转载，请注明出处：
<!--     <div>
        {{ if .Prev }}
          <a class="previous" href="{{.Prev.Permalink}}"> {{.Prev.Title}}</a>
        {{ end }}
        {{ if .Next }}
          <a class="next" href="{{.Next.Permalink}}"> {{.Next.Title}}</a>
        {{ end }}
    </div> -->


{{ partial "duoshuo.html" . }}
        </div>

    </article>
    <div id="sidebar">侧边栏</div>

    <div class="empty"></div>
</div>